/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0.5% 0.5% 1.5% 0.5%;
}

#search-panel {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#parameters-panel {
  position: absolute;
  top: 50px;
  left: 15px;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#map_page {
  height: 80%;
  padding-top:80px;
  padding-left:15px;
  padding-right:15px;
}

#user-input-block {
  margin: 0.5% 0 0.5% 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
